# application config
APP_PORT=2001
APP_TZ=Asia/Jakarta
APP_SECRET_KEY=express-template-knex
APP_ENV=development
APP_JSON_LIMIT="100200kb"
APP_LANGUAGE=id
APP_NAME=Express Template With Knex
APP_METHOD=POST,PUT,DELETE,GET,OPTIONS
APP_ALLOW_HEADER=POST,PUT,DELETE,GET,OPTIONS
APP_EXPOSE_HEADER=POST,PUT,DELETE,GET,OPTIONS
APP_PROTECTION=POST,PUT,DELETE,GET,OPTIONS
APP_PERMISSION_POLICY="autoplay=(self), camera=(), encrypted-media=(self), fullscreen=(), geolocation=(self), gyroscope=(self), magnetometer=(), microphone=(), midi=(), payment=(), sync-xhr=(self), usb=()"

# POSTGRES
DB_DRIVER=pg
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=