# application config
APP_PORT=2001
TZ=Asia/Jakarta
APP_SECRET_KEY=express-template-knex
APP_ENV=development
APP_LIMIT="100200kb"
APP_LANGUAGE=id
APP_NAME=Express Template With Knex
APP_METHOD=POST,PUT,DELETE,GET,OPTIONS
APP_ALLOW_HEADER=POST,PUT,DELETE,GET,OPTIONS
APP_EXPOSE_HEADER=POST,PUT,DELETE,GET,OPTIONS
APP_PROTECTION=POST,PUT,DELETE,GET,OPTIONS
APP_PERMISSION_POLICY="autoplay=(self), camera=(), encrypted-media=(self), fullscreen=(), geolocation=(self), gyroscope=(self), magnetometer=(), microphone=(), midi=(), payment=(), sync-xhr=(self), usb=()"
JWT_EXPIRED='1h'
REFRESH_TOKEN_EXPIRED='8h'
JWT_ALGORITHM='HS256'
PASSWORD_ALGORITHM='SHA512'
APP_CONTENT_POLICY_PROD="default-src 'self'; font-src 'self'; img-src 'self'; script-src 'self'; style-src 'self'; frame-src 'self'"
APP_CONTENT_POLICY_DEV="default-src 'self'; font-src 'self'; img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *"
# POSTGRES
DB_DRIVER=pg
# for docker 
# DB_HOST=postgres_local_service
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=postgres